.box {
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(79, 79, 79);
  border-radius: 15px;
  margin: 30px 50px;
}
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 300px;
    border-radius: 50%;
    background-color: rgb(79, 79, 79);
  }
  p {
    font-size: 28px;
    color: rgb(79, 79, 79);
  }
  .name {
    color: black;
  }
}

.list {
  display: flex;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    background-color: darkgray;
    border: 3px solid rgb(79, 79, 79);
    padding: 12px 24px;
  }
}
